[client]
port                            = 3306
socket                          = /zpaasssd/zcm/mysql/mysqld.sock
default-character-set           = utf8
[mysqld_safe]
pid-file                        = /zpaasssd/zcm/mysql/mysqld.pid
socket                          = /zpaasssd/zcm/mysql/mysqld.sock
nice                            = 0

[mysqld]
explicit_defaults_for_timestamp
federated
skip_ssl
bind-address = 0.0.0.0
skip_name_resolve
log_timestamps                  = SYSTEM
user                            = mysql
pid-file                        = /zpaasssd/zcm/mysql/mysqld.pid
socket                          = /zpaasssd/zcm/mysql/mysqld.sock
port                            = 3306
basedir                         = /usr
datadir                         = /zpaasssd/zcm/mysql/data
tmpdir                          = /tmp
lower_case_table_names          = 1
lc-messages-dir                 = /usr/share/mysql
character-set-server            = utf8
log_bin_trust_function_creators = 1
max_allowed_packet              = 20M
log_bin                         = /zpaasssd/zcm/mysql/binlog/bin-log-mysqld3306
log_bin_index                   = /zpaasssd/zcm/mysql/binlog/bin-log-mysqld3306.index
relay_log                       = /zpaasssd/zcm/mysql/relay_log/mysql-relay-bin3306
relay_log_index                 = /zpaasssd/zcm/mysql/relay_log/mysql-relay-bin3306.index
log_error                       = /zpaasssd/zcm/mysql/mysqld.log
server-id                       = 2
innodb_file_per_table           = 1
innodb_log_file_size            = 1024M
innodb_buffer_pool_size         = 2G
sync_binlog                     = 500
innodb_flush_log_at_trx_commit  = 2
binlog_format                   = ROW
binlog_cache_size               = 1048576
binlog_stmt_cache_size          = 1048576
expire_logs_days                = 7
table_open_cache                = 4000
table_definition_cache          = 4000
max_connections                 = 3000
max_connect_errors              = 5000
symbolic-links                  = 0
sql_mode                        = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
slave_parallel_workers          = 16
master_info_repository          = TABLE
relay_log_info_repository       = TABLE
connect_timeout                 = 28800
event_scheduler                 = 1
